In [1]:
pip install pandas yfinance

Requirement already satisfied: pandas in ./anaconda3/lib/python3.11/site-packages (1.5.3)
Collecting yfinance
  Downloading yfinance-0.2.33-py2.py3-none-any.whl (69 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.0/69.0 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: requests>=2.31 in ./anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: lxml>=4.9.1 in ./anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in ./anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.3.10-py3-none-any.whl (14 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.0.tar.gz (2.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 30.8 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: beautifulsoup4>=4.11.1 in ./anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 13.3 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in ./anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in ./anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in ./anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.7.22)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.0-cp311-cp311-macosx_10_9_x86_64.whl size=248590 sha256=7eccc8eab3a9bb02a52bfef67352199caec10881815ba8f239029fa2f7d3cf3a
  Stored in directory: /Users/rudyj/Library/Caches/pip/wheels/02/20/23/74a10d0cd31f5d41c19b92ddf4c138ceff01b9f4675f19dbf5
Successfully built peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.3.10 html5lib-1.1 multitasking-0.0.11 peewee-3.17.0 yfinance-0.2.33
Note: you may need to restart the kernel to use updated packages.

In [1]:
import yfinance as yf

In [2]:
symbole = "ETH-USD"

In [6]:
donnees_boursieres = yf.download (symbole, start="2023-06-01", end = "2023-12-22")

[*********************100%%**********************]  1 of 1 completed

In [8]:
donnees_boursieres

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-01,1873.914673,1887.705322,1846.227417,1862.201416,1862.201416,5640027197
2023-06-02,1862.423706,1910.278442,1851.964722,1907.256592,1907.256592,6097746022
2023-06-03,1907.420776,1908.822266,1885.485474,1892.412476,1892.412476,3472274607
2023-06-04,1892.398193,1912.205688,1885.651855,1890.513550,1890.513550,3747042696
2023-06-05,1890.417603,1890.640503,1780.211548,1811.828369,1811.828369,9246593033
...,...,...,...,...,...,...
2023-12-17,2226.892578,2244.366455,2195.761719,2196.481201,2196.481201,7410453853
2023-12-18,2195.341797,2222.019287,2120.127441,2217.273438,2217.273438,10366536490
2023-12-19,2218.240967,2253.348877,2139.723389,2177.872559,2177.872559,10619179629
2023-12-20,2177.239502,2263.329102,2161.218750,2201.911377,2201.911377,12652290807
2023-12-21,2201.790039,2278.121582,2184.856689,2239.542480,2239.542480,12616530536

In [9]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in ./anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: sqlalchemy in ./anaconda3/lib/python3.11/site-packages (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: greenlet!=0.4.17 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [56]:
import pandas as pd
from sqlalchemy import create_engine

In [57]:
#instalation du module 
pip install mysql-connector-python

SyntaxError: invalid syntax (4231988971.py, line 2)

In [58]:
# Paramètres de connexion à la base de données MySQL

nom_utilisateur = "root"
mot_de_passe = "Hito100mysql"
hote = "localhost"
base_de_donnees = "Analyse ETH_USD"
table = "cryptoETH"

In [59]:
# Créez une connexion à la base de données MySQL
moteur = create_engine(f"mysql+mysqlconnector://{nom_utilisateur}:{mot_de_passe}@{hote}/{base_de_donnees}")

In [60]:
donnees_boursieres.to_sql(name="cryptoETH",con=moteur, if_exists="replace", index ="true")

-1

In [61]:
donnees_boursieres

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-01,1873.914673,1887.705322,1846.227417,1862.201416,1862.201416,5640027197
2023-06-02,1862.423706,1910.278442,1851.964722,1907.256592,1907.256592,6097746022
2023-06-03,1907.420776,1908.822266,1885.485474,1892.412476,1892.412476,3472274607
2023-06-04,1892.398193,1912.205688,1885.651855,1890.513550,1890.513550,3747042696
2023-06-05,1890.417603,1890.640503,1780.211548,1811.828369,1811.828369,9246593033
...,...,...,...,...,...,...
2023-12-17,2226.892578,2244.366455,2195.761719,2196.481201,2196.481201,7410453853
2023-12-18,2195.341797,2222.019287,2120.127441,2217.273438,2217.273438,10366536490
2023-12-19,2218.240967,2253.348877,2139.723389,2177.872559,2177.872559,10619179629
2023-12-20,2177.239502,2263.329102,2161.218750,2201.911377,2201.911377,12652290807
2023-12-21,2201.790039,2278.121582,2184.856689,2239.542480,2239.542480,12616530536